@import 'variables';
@import 'mixins';

#rec-dash {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 32px;
    text-align: center;
  }
}

#rec-table {
  @include card;
  width: 80%;

  .table-headings {
    width: 100%;
    display: grid;
    grid-template-columns: 35% 12% 12% 16% 1fr;
    column-gap: 40px;
    color: $grey;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightgrey;
  }

  .table-entries {
    .table-entry {
      display: grid;
      width: 100%;
      padding: 20px 0px;
      grid-template-columns: 35% 12% 12% 16% 1fr;
      column-gap: 40px;
      font-size: 14px;
      align-items: center;
      border-bottom: 1px solid $lightgrey;

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0px;
      }

      .request-date {
        color: $grey;
      }
    }
  }
}

.student {
  display: flex;

  .profile-photo {
    background: blue;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;
  }

  .name {
    h3 {
      font-size: 16px;
    }

    p {
      color: $grey;
    }
  }
}

#rec-request {
  @include card;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .request {
    color: $blue;
  }

  .student {
    margin: 40px 20px;
  }

  .deadline {
    padding: 20px;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
  }

  .rec-accept {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons .btn {
      margin: 6px;
    }

    p {
      margin: 15px;
    }

    .notified {
      font-size: 14px;
      color: $grey;
    }
  }
}
